.emojiContainer > img {
    width: 100%;
    margin-top: 25%;
}

.emojiContainer {
    width: 12.4%;
}
<<<<<<< HEAD
=======

.readyToDestroy > img {
    background-color: red;
}
>>>>>>> c643ac98e04c0be07997a12e2bdbf0331d1bcfbb
