html, body {
    height: 100%;
    width: 100%;
}

div{
    display: inline-block;
}
body{
    background-image: url("images/desk.png");
    text-align: center;
}
#desk_space_left{
    vertical-align: top;
    height: 100%;
    width: 25%;
}
#iphone{
    height: 100%;
    width: 50%;
}
#desk_space_right{
    vertical-align: top;
    height: 100%;
    width: 24%;
}
#iphone > img {
    position: absolute;
<<<<<<< HEAD
    right: 40%;
    z-index: -1;
    width: 24%;
=======
    right: 25%;
    height: 110%;
    top: -5%;
    z-index: -1;
>>>>>>> 6cf61f1dd3289922b17dd4d79a7ba599bef77f54
}
#desk_space_left > img{
    height: 50%;
    width: 57%;
    position: relative;
    top: 20%;
    transform: rotate(30deg);
}
#desk_space_right > img{
    height: 115%;
    transform: rotate(-25deg);
    position: relative;
    right: 15%;
    bottom: 10%;
}
#iphoneScreen{
    width: 20.9%;
    height: 66%;
    position: absolute;
    left: 37.48%;
    top: 20.3%;
    z-index: -1;
}
#scoreSection{
    background-size: 100%;
    background-repeat: no-repeat;
    width: 20.8%;
    height: 8.1%;
    position: absolute;
    left: 37.54%;
    top: 12.2%;
    z-index: -1;
}
