html, body {
    height: 100%;
    width: 100%;
}

div{
    display: inline-block;
}
body{
    background-image: url("images/desk.png");
    text-align: center;
}
#desk_space_left{
    vertical-align: top;
    height: 100%;
    width: 25%;
}
#iphone{
    height: 100%;
    width: 50%;
}
#desk_space_right{
    vertical-align: top;
    height: 100%;
    width: 24%;
}
#iphone > img {
    position: absolute;
    right: 40%;
    z-index: 0;
    width: 24%;
    height: 98%;
    top: 1%;
}
#desk_space_left > #calculator{
    height: 50%;
    width: 57%;
    position: relative;
    top: 20%;
    transform: rotate(30deg);
    z-index: -1;
}
#desk_space_left > #headphonesHolder{
    position: absolute;
    left:5%;
    bottom: -12%;
    width: 35%;
    z-index: -1;

}
#headphonesHolder > #headphones{
    width: 100%;
    transform: rotate(45deg);
    z-index: -1;

}
#desk_space_right > #watch{
    height: 115%;
    transform: rotate(-25deg);
    position: relative;
    right: 15%;
    bottom: 10%;
}
#post_it_note{
    background-image: url("images/postitnote.png");
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    width: 15%;
    height: 31%;
    bottom:20%;
    right: 23%;
}
#post_it_note > #postittext{
    font-family: 'Sedgwick Ave', cursive;
    height: 58%;
    width: 68%;
    position: absolute;
    left: 13%;
    bottom: 36.5%;
}
#post_it_note > #postittext > h1{
    font-weight: bold;
    text-decoration: underline;
    font-size: medium;
}

#iphoneScreen{
    width: 20.9%;
    height: 67.4%;
    position: absolute;
    left: 37.48%;
    top: 20.3%;
    z-index: 0;
    overflow: hidden;
}
#initialOverlay{
    width: 20.9%;
    height: 75.4%;
    position: absolute;
    left: 37.48%;
    top: 12.3%;
    background: #0d69a3;
    background-image: -webkit-linear-gradient(top, #0d69a3, #19a7fa);
    background-image: -moz-linear-gradient(top, #0d69a3, #19a7fa);
    background-image: -ms-linear-gradient(top, #0d69a3, #19a7fa);
    background-image: -o-linear-gradient(top, #0d69a3, #19a7fa);
    background-image: linear-gradient(to bottom, #0d69a3, #19a7fa);
}
#initialOverlay > button{
    background: #12e007;
    background-image: -webkit-linear-gradient(top, #12e007, #099e38);
    background-image: -moz-linear-gradient(top, #12e007, #099e38);
    background-image: -ms-linear-gradient(top, #12e007, #099e38);
    background-image: -o-linear-gradient(top, #12e007, #099e38);
    background-image: linear-gradient(to bottom, #12e007, #099e38);
    -webkit-border-radius: 28px;
    -moz-border-radius: 28px;
    border-radius: 28px;
    font-family: 'Georgia';
    color: #ffffff;
    position: absolute;
    top: 45%;
    left: 34%;
    font-size: 32px;
    animation: beat .6s infinite alternate;
    transform-origin: center;

}
#initialOverlay > button:hover{
    transform: scale(1.4);
}
#initialOverlay > button:focus{
    outline: none;
}
#initialOverlay > #crush{
    position: relative;
    top: -10%;
    left: -1%;
    width: 106%;
}
#initialOverlay > #emoji{
    position: relative;
    top: 1%;
    left: -1%;
    width: 80%;
}

#scoreSection{
    width: 20.9%;
    height: 8.1%;
    position: absolute;
    left: 37.5%;
    top: 12.2%;
    z-index: 0;
    text-align: center;
    font-family: Phosphate;
    font-size: xx-large;
    background: #006eb8;
    background-image: -webkit-linear-gradient(top, #006eb8, #28aafa);
    background-image: -moz-linear-gradient(top, #006eb8, #28aafa);
    background-image: -ms-linear-gradient(top, #006eb8, #28aafa);
    background-image: -o-linear-gradient(top, #006eb8, #28aafa);
    background-image: linear-gradient(to bottom, #006eb8, #28aafa);
}
#bottomBanner{
    width: 20.9%;
    height: 8.1%;
    position: absolute;
    left: 37.5%;
    top: 79.5%;
    z-index: 0;
    background: #006eb8;
    background-image: -moz-linear-gradient(top, #28aafa, #006eb8);
    background-image: -ms-linear-gradient(top, #28aafa, #006eb8);
    background-image: -o-linear-gradient(top, #28aafa, #006eb8);
    background-image: linear-gradient(to bottom, #28aafa, #006eb8);

}
#highScore{
    position: absolute;
    width: 11.6%;
    height: 6.5%;
    transform: rotate(30deg);
    top:30.7%;
    left:10.9%;
    text-align: center;
    font-size: large;
    font-family: "Lucida Sans Typewriter";

}
#timer{
    position: absolute;
    top: 34.7%;
    right: 12.3%;
    width: 8.5%;
}
#timer > img {
    width: 100%;
    transform: rotate(-25deg);
}
@-webkit-keyframes spin
{ 100% { -webkit-transform: rotate(360deg);
}}
@keyframes beat{
    to { transform: scale(1.4); }
}
@keyframes beat1{
    to { transform: scale(.8); }
}
.selected {
    background: #0d69a3;
    background-image: -webkit-linear-gradient(top, #0d69a3, #19a7fa);
    background-image: -moz-linear-gradient(top, #0d69a3, #19a7fa);
    background-image: -ms-linear-gradient(top, #0d69a3, #19a7fa);
    background-image: -o-linear-gradient(top, #0d69a3, #19a7fa);
    background-image: linear-gradient(to bottom, #0d69a3, #19a7fa);
    border-style: solid;
    border-color: black;
    border: thin;
}
.to_be_selected {
    animation: beat1 .5s infinite alternate;
    transform-origin: center;

}



#endGameOverlay{
    color: white;
    width: 20.9%;
    height: 75.4%;
    position: absolute;
    left: 37.48%;
    top: 12.3%;
    background: #0d69a3;
    background-image: -webkit-linear-gradient(top, #0d69a3, #19a7fa);
    background-image: -moz-linear-gradient(top, #0d69a3, #19a7fa);
    background-image: -ms-linear-gradient(top, #0d69a3, #19a7fa);
    background-image: -o-linear-gradient(top, #0d69a3, #19a7fa);
    background-image: linear-gradient(to bottom, #0d69a3, #19a7fa);
    display: none;
}