html, body { height: 100%; }

div{
    display: inline-block;
}
body{
    background-image: url("images/desk.png");
    text-align: center;
}
#desk_space_left{
    height: 100%;
    width: 25%;
}
#iphone{
    height: 100%;
    width: 50%;
}
#desk_space_right{
    height: 100%;
    width: 24%;
}
#iphone > img{
    height: 100%;
    width: 110%;
    position: relative;
    right: 10%;

}
#desk_space_left > img{
    height: 50%;
    width: 55%;
    position: relative;
    bottom: 30%;
    left: 15%;
    transform: rotate(30deg);
}
#desk_space_right > img{
    height: 90%;
    transform: rotate(-25deg);
    position: relative;
    right: 15%;
    bottom: 10%;
    
}